//@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Telex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
.app {
    // font-family: 'Special Elite', cursive;
    //font-family: 'Telex', sans-serif;
    font-family: 'Comic Neue', cursive;
    max-width: 38rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    //border: 1px solid red;
}

.app > * {
    flex: 1 1 auto;
}